/* Arranging a flex container into a row places the items left to right, side by side. A column has the items stacked from top to bottom.

They are arranged along a main axis that cuts through each item in the container.

The justify-content property has options to change where the content should be arranged inside of the flex container.

justify-content: center, flex-start, flex-end, space-between, space-around.

The following exercise centers two boxes on a gray background. */

<style>
  #box-container {
    background: gray;
    display: flex;
    height: 500px;
    justify-content: center;
  }
  #box-1 {
    background-color: dodgerblue;
    width: 25%;
    height: 100%;
  }

  #box-2 {
    background-color: orangered;
    width: 25%;
    height: 100%;
  }
</style>

<div id="box-container">
  <div id="box-1"></div>
  <div id="box-2"></div>
</div>
