/* align-items arrange flex items based on the cross axis, which runs opposite of the main axis on a flex container. An item will be moved upwards or downwards within a row container / left or right in a column container.

The values include: flex-start, flex-end, center, stretch, baseline. */

<style>
  #box-container {
    background: gray;
    display: flex;
    height: 500px;
    align-items: center;
  }
  #box-1 {
    background-color: dodgerblue;
    width: 200px;
    font-size: 24px;
  }

  #box-2 {
    background-color: orangered;
    width: 200px;
    font-size: 18px;
  }
</style>

<div id="box-container">
  <div id="box-1"><p>Hello</p></div>
  <div id="box-2"><p>Goodbye</p></div>
</div>
